@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 35% 6%;
    --foreground: 30 12% 96%;

    --card: 30 30% 9%;
    --card-foreground: 30 12% 96%;

    --muted: 30 22% 15%;
    --muted-foreground: 30 8% 65%;

    --border: 30 20% 18%;
    --input: 30 20% 18%;
    --ring: 22 95% 58%;

    --primary: 22 95% 58%;
    --primary-foreground: 30 47% 11%;

    --accent: 86 80% 55%;
    --accent-foreground: 30 47% 11%;

    --radius: 0.75rem;
  }

  * { border-color: hsl(var(--border)); }
  html { color-scheme: dark; }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
